.wrapper {
  margin: 0 auto;
  max-width: 60rem;
  padding: 12px;

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border: solid gray;
  }

  .types-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
    margin-top: 12px;
    border: solid gray;
    border-radius: 14px;

    .title {
      font-weight: bold;
      text-align: center;
    }

    .weapon-description {
      display: flex;
      justify-content: space-between;
    }
  }
}
