.header-wrapper {
  width: 100%;
  max-width: 60rem;
  padding: 12px;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--text-color);
}
.icon-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-color: var(--bla);
}
.links-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 12px;
}
.link {
  text-decoration: none;
  color: black;
}
.logo-link {
  font-weight: bold;
  font-size: 18px;
}
